# Simulation results
## Full run for scenario 1 - Infinite demand for ETH transfers

#### Maria Silva, May 2025

## 1. Imports and settings

Let's start by importing the necessary libraries and setting up some directories and files.

In [1]:
import os
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
# Main directories and files
current_path = os.getcwd()
repo_dir = os.path.abspath(os.path.join(current_path, ".."))
data_dir = os.path.join(repo_dir, "data")
sim_dir = os.path.join(data_dir, "sim")

## 2. Load simulation results

Now, we need to read the csv files that contain the results from the simulation results.

In [3]:
file_name = "eth_transfer_sim_results.csv"
df = pd.read_csv(os.path.join(sim_dir, file_name))
df["gas_used_million"] = df["gas_used"]/1e6
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   utilization          14 non-null     float64
 1   gas_used             14 non-null     float64
 2   one_dim_utilization  14 non-null     float64
 3   throughput           14 non-null     int64
 4   mempool_size         14 non-null     float64
 5   meter_scheme         14 non-null     object
 6   limit                14 non-null     float64
 7   gas_used_million     14 non-null     float64
dtypes: float64(6), int64(1), object(1)
memory usage: 1.0+ KB

## 3. Results overview table

Before seeing the results, we should recall that in this scenario we are only building one block, and we are not performing Monte Carlos simulations since the block building process is fully deterministic.

In order to better interpret the results, here are the costs by resource of a single ETH transfer:

```python
{
    "Compute": 8500.0,
    "History": 6500.0,
    "Access": 300.0,
    "Bandwidth": 5700.0,
}
```

### Limit = 36M gas units

We can print some key metrics by metering scheme, assuming a limit of 36M gas units.

In [4]:
df[df["limit"] == 36000000][
    [
        "meter_scheme",
        "throughput",
        "utilization",
        "gas_used_million",
        "one_dim_utilization",
    ]
].round(4)

,meter_scheme,throughput,utilization,gas_used_million,one_dim_utilization
0,one_dim_scheme,1714,0.9998,35.994,0.9998
2,compute_vs_others,2880,1.0000,60.480,1.6800
4,state_vs_others,1714,0.9998,35.994,0.9998
6,access_vs_others,1739,0.9999,36.519,1.0144
8,bandwidth_vs_others,2352,0.9996,49.392,1.3720
10,state_vs_compute_vs_others,2880,1.0000,60.480,1.6800
12,state_vs_compute_vs_access_vs_others,2950,0.9997,61.950,1.7208

How do these metric compare with the current scheme (i.e. the one dimensional)?

In [5]:
temp = df[df["limit"] == 36000000]
cols = ["throughput", "gas_used_million"]
temp[cols] = temp[cols].div(temp[cols].iloc[0], axis="columns") - 1
temp[["meter_scheme"]+cols].round(4)

                            meter_scheme  throughput  gas_used_million
0                         one_dim_scheme      0.0000            0.0000
2                      compute_vs_others      0.6803            0.6803
4                        state_vs_others      0.0000            0.0000
6                       access_vs_others      0.0146            0.0146
8                    bandwidth_vs_others      0.3722            0.3722
10            state_vs_compute_vs_others      0.6803            0.6803
12  state_vs_compute_vs_access_vs_others      0.7211            0.7211

### Limit = 18M gas units

Now, we can do the same for the 18M gas units limit.

In [6]:
df[df["limit"] == 18000000][
    [
        "meter_scheme",
        "throughput",
        "utilization",
        "gas_used_million",
        "one_dim_utilization",
    ]
].round(4)

,meter_scheme,throughput,utilization,gas_used_million,one_dim_utilization
1,one_dim_scheme,857,0.9998,17.997,0.9998
3,compute_vs_others,1440,1.0000,30.240,1.6800
5,state_vs_others,857,0.9998,17.997,0.9998
7,access_vs_others,869,0.9994,18.249,1.0138
9,bandwidth_vs_others,1176,0.9996,24.696,1.3720
11,state_vs_compute_vs_others,1440,1.0000,30.240,1.6800
13,state_vs_compute_vs_access_vs_others,1475,0.9997,30.975,1.7208

In [7]:
temp = df[df["limit"] == 18000000]
cols = ["throughput", "gas_used_million"]
temp[cols] = temp[cols].div(temp[cols].iloc[0], axis="columns") - 1
temp[["meter_scheme"]+cols].round(4)

                            meter_scheme  throughput  gas_used_million
1                         one_dim_scheme      0.0000            0.0000
3                      compute_vs_others      0.6803            0.6803
5                        state_vs_others      0.0000            0.0000
7                       access_vs_others      0.0140            0.0140
9                    bandwidth_vs_others      0.3722            0.3722
11            state_vs_compute_vs_others      0.6803            0.6803
13  state_vs_compute_vs_access_vs_others      0.7211            0.7211